<%= render 'emails/actions/primary' %>
<%= render 'emails/actions/secondary', email: @email %>

<div class='email'>
  <h1>Editing <%= @email %></h1>

  <%= form_for(@email) do |f| %>
    <%= render 'common/errors', resource: @email %>

    <div class='field'>
      <%= f.label :message %>
      <%= f.text_area :message, rows: 8, value: @email.body %>
    </div>

    <div class='actions'>
      <%= f.submit 'Save Changes' %>
    </div>
  <% end %>
</div>
