<h1>
  Import email
</h1>

<%= form_for(@email) do |f| %>
  <%= render 'common/errors', resource: @email %>

  <div class='field'>
    <%= f.text_field :remote_message_id, placeholder: 'remote_message_id', value: params[:remote_message_id] %>
  </div>

  <div class='actions'>
    <%= f.submit 'Import' %>
  </div>
<% end %>

<%= link_to 'Index', emails_path %>
