<nav class='primary-actions'>
  <%= link_to 'Back', emails_path %>
</nav>

<div class='secondary-actions'>
  <%= link_to 'Edit', edit_email_path(@email) %>
  <%= link_to 'Delete', @email, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<div class='email'>
  <table class='email__metadata'>
    <tbody>
      <tr>
        <td>Message ID</td>
        <td class='emphasize--primary'>
          <%= @email.message_id %>
        </td>
      </tr>
      <% if @email.in_reply_to.present? %>
        <tr>
          <td>In Reply To</td>
          <td class='emphasize--secondary'>
            <%= @email.in_reply_to %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td>To</td>
        <td><%= to_sentence @email.to %></td>
      </tr>
      <tr>
        <td>From</td>
        <td><%= to_sentence @email.from %></td>
      </tr>
      <tr>
        <td>Subject</td>
        <td><%= @email.subject %></td>
      </tr>
    </tbody>
  </table>

  <div class='email__body'>
    <div class='email__body__rendered'>
      <%= @email.parsed.html_part.body.decoded.html_safe %>
    </div>
  </div>

  <div class='email__original'>
    <h3>Original Message</h3>
    <div class='email__original__rendered'>
      <pre><%= @email.parsed.header %></pre>
      <pre><%= @email.parsed.body %></pre>
    </div>
  </div>
</div>
